*{
    margin: 0
}

body {
    background-color: #FFF199;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0 50px;
    font-family: 'Raleway', sans-serif;
}

header{
    margin-top: 50px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.iconcontainer{
    display: flex;
    align-items: flex-end;
}

#maingame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

img{
    width: 250px;
    margin: 10px 0;
}

#score{
    margin: 15px 0;
}

h1, h2 {
    color: #022851;
    text-align: center;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 27px;
}

article {
    color: #022851;
    font-size: 20px;
}

.bluebtn{
    background-color: #022851;
	border-radius: 28px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
    text-align: center;
	font-size: 17px;
	padding: 16px 0;
    width: 100%;
	text-decoration: none;
    margin: 30px 0;
}

.options{
    margin-top: 20px;
}

.option{
    margin: 7px 0;
}


/* Overlays */

#message{
    text-transform: uppercase;
    font-size: 24px;
}

#overlayBackground{
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 0;
    opacity: 0.6;
}

.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 15px;
    z-index: 1;
    border-radius: 8px;
}

#nextPage{
    width: 80%;
    margin: 0;
    margin-top: 10px;
}

h3#correct-answer, #overlay-text {
    margin: 15px auto;
    width: 83%;
}

#overlay-text{
    margin: 0;
}

#overlay-image{
    width: 180px;
}

#question{
    width: 95%;
}